server:
  port: 8082

spring:
  application:
    name: bct-backend

  datasource:
    url: jdbc:mysql://localhost:3306/wifak_platform?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: root
    password:
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8081/realms/bct-realm
          jwk-set-uri: http://localhost:8081/realms/bct-realm/protocol/openid-connect/certs

keycloak:
  auth-server-url: http://localhost:8081
  realm: bct-realm
  admin-username: admin
  admin-password: admin
  admin-client-id: bct-backend
  admin-client-secret: UQIUjf1lHznBjmmdUlNleh8N9yMwzBaG

logging:
  level:
    org.springframework.security: DEBUG
    com.example.bctbackend: INFO
    org.keycloak: INFO
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} - %msg%n"

app:
  cors:
    allowed-origins: http://localhost:4200
  frontend-client-id: bct-frontend
